*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
body{
    width: 100%;
    background-color: black;
    color: red;
    align-items: center;
}
.main{ 
    height: 200vh;
    width: 100%;
    /* border: 1px solid red; */
    background-image: url('https://i.pinimg.com/564x/2b/d1/eb/2bd1ebd3787d51a92b6d270baaa10f5c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: -200vh;
}
.logo{
    height: 15vh;
    width: 100%;
    /* border: 1px solid; */
}
.logo>img{
    height: 12vh;
    margin-top: 1vh;
}
.card{
    height: 120vh;
    width: 35%;
    border: 1px solid black;
    margin: 0 31%;
    border-radius: 5px;
    background: linear-gradient(135deg , black, rgba(0,0,0,0.6));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -50px 50px 50px black;
} 
.card>h1{
    margin: 15% 0 5% 15%;
    color: white;
}
.user-pass{
    position: relative;
    width: 100%;
    height: 30vh;
    /* margin: 15%; */
    /* border: 1px solid red; */
    color: #8E8E8E;
}
.user{
    position: relative;
    /* border: 1px solid red; */
    height: 30vh;
    width: 100%;
}
.user input[type=text]{
    color: white;
    padding: 0 7%;
}
.user #pemail{
    position: absolute;
    margin:-8% 22%;
    font-size: 16px;
    /* background-color: #1D1D1D; */
}
#email{
    height: 9vh;
    width: 70%;
    margin: 0 15%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #333333;
}
/* .user input[type=password]{
    color: white;
    padding: 0 7%;
} */
#pswd{
    height: 9vh;
    width: 70%;
    margin: 5% 15%;
    border-radius: 5px;
    /* margin-top: 3%; */
    background-color: #333333;
}
.user #ppswd{
    position: absolute;
    margin: -13% 22%;
    font-size: 16px;
}
.user input[type=password]{
    color: white;
    padding: 0 7%;
}
.sub{
    position: relative;
    height: 20vh;
    width: 100%;
    margin-top: 6%;
    /* border: 1px solid red; */
}
.sub>button{
    height: 9vh;
    width: 70%;
    margin: 0% 15%;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight:bold;
}
.options{
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
    color: #A2A2A2;
}
.options .notif{
    font-size: 14px;
}
.notif #rem{
    color: #A2A2A2;
}
.options .help{
    font-size: 14px;
}
.help>a{
    text-decoration: none;
    color: #A2A2A2;
}
.more{
    margin-top: 10vh;
    /* border: 1px solid red; */
    height: 20vh;
    width: 100%;
    color: #979595;
}
.more #new{
    margin: 0 15%;
    font-size: 16px;
}
#new>a{
    text-decoration:none;
}
.more #captcha{
    font-size: 13px;
    margin: 2% 15%;

}